*{
    margin:0px;
    font-family: 'Noto Sans';

}







.fadeinr{
    
    animation: lentry 2s 1;
    position:relative;

}

@keyframes lentry{
    0%{
        left:-50px;
        opacity: 0;
    }
    100%{
        left: 0px;
        opacity: 1;
    }
}

.fadeinl{
    
    animation: rentry 2s 1;
    position:relative;

}

@keyframes rentry{
    0%{
        right:-50px;
        opacity: 0;
    }
    100%{
        right: 0px;
        opacity: 1;
    }
}